In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', 30)

# EDA - covidtotals_missing

In [ ]:
covidtotals_missing = pd.read_csv('https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook/raw/master/Chapter04/data/covidtotalswithmissings.csv')
covidtotals_missing

,iso_code,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
0,AFG,2020-06-01,Afghanistan,15205,257,390.59,6.60,"38,928,341.00",54.42,18.60,"1,803.99",0.50
1,ALB,2020-06-01,Albania,1137,33,395.09,11.47,"2,877,800.00",104.87,38.00,"11,803.43",2.89
2,DZA,2020-06-01,Algeria,9394,653,214.22,14.89,"43,851,043.00",17.35,29.10,"13,913.84",1.90
3,AND,2020-06-01,Andorra,764,51,"9,888.05",660.07,"77,265.00",163.75,NaN,NaN,NaN
4,AGO,2020-06-01,Angola,86,4,2.62,0.12,"32,866,268.00",23.89,16.80,"5,819.49",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205,VNM,2020-06-01,Vietnam,328,0,3.37,0.00,"97,338,583.00",308.13,32.60,"6,171.88",2.60
206,ESH,2020-06-01,Western Sahara,23,1,38.51,1.67,"597,330.00",NaN,28.40,NaN,NaN
207,YEM,2020-06-01,Yemen,323,80,10.83,2.68,"29,825,968.00",53.51,20.30,"1,479.15",0.70
208,ZMB,2020-06-01,Zambia,1057,7,57.50,0.38,"18,383,956.00",23.00,17.70,"3,689.25",2.00
209,ZWE,2020-06-01,Zimbabwe,178,4,11.98,0.27,"14,862,927.00",42.73,19.60,"1,899.78",1.70

In [ ]:
# check index candidate
covidtotals_missing['iso_code'].nunique()
print()
covidtotals_missing['iso_code'].count()

210

210

In [ ]:
covidtotals_missing.set_index("iso_code", inplace=True)
covidtotals_missing.head(2)

,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
iso_code,,,,,,,,,,,
AFG,2020-06-01,Afghanistan,15205,257,390.59,6.60,"38,928,341.00",54.42,18.60,"1,803.99",0.50
ALB,2020-06-01,Albania,1137,33,395.09,11.47,"2,877,800.00",104.87,38.00,"11,803.43",2.89

In [ ]:
totvars = ['location','total_cases','total_deaths','total_cases_pm','total_deaths_pm']
demovars = ['population','pop_density','median_age','gdp_per_capita', 'hosp_beds']

In [ ]:
covidtotals_missing[demovars].isnull()

          population  pop_density  median_age  gdp_per_capita  hosp_beds
iso_code
AFG            False        False       False           False      False
ALB            False        False       False           False      False
DZA            False        False       False           False      False
AND            False        False        True            True       True
AGO            False        False       False           False       True
...              ...          ...         ...             ...        ...
VNM            False        False       False           False      False
ESH            False         True       False            True       True
YEM            False        False       False           False      False
ZMB            False        False       False           False      False
ZWE            False        False       False           False      False

[210 rows x 5 columns]

In [ ]:
# axis=0 is the default value (columns)
missCounts_X = covidtotals_missing[demovars].isnull().sum(axis=0)
missCounts_X

population         0
pop_density       12
median_age        24
gdp_per_capita    28
hosp_beds         46
dtype: int64

In [ ]:
# by rows, which tells you the number of missing by country
missCounts_Y = covidtotals_missing[demovars].isnull().sum(axis=1)
missCounts_Y

iso_code
AFG    0
ALB    0
DZA    0
AND    3
AGO    1
      ..
VNM    0
ESH    3
YEM    0
ZMB    0
ZWE    0
Length: 210, dtype: int64

In [ ]:
# this gives us a count of countries missing 0, 1, ..4
missCounts_Y.value_counts()

0    156
1     24
2     12
3     10
4      8
dtype: int64

In [ ]:
# select the countries that have more than 4 values missing 
covidtotals_missing.loc[missCounts_Y>3, :]

,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
iso_code,,,,,,,,,,,
AIA,2020-06-01,Anguilla,3,0,199.97,0.00,"15,002.00",NaN,NaN,NaN,NaN
BES,2020-06-01,Bonaire Sint Eustatius and Saba,7,0,266.96,0.00,"26,221.00",NaN,NaN,NaN,NaN
FLK,2020-06-01,Falkland Islands,13,0,"3,732.41",0.00,"3,483.00",NaN,NaN,NaN,NaN
GGY,2020-06-01,Guernsey,252,13,"3,758.28",193.88,"67,052.00",NaN,NaN,NaN,NaN
JEY,2020-06-01,Jersey,308,29,"3,047.30",286.92,"101,073.00",NaN,NaN,NaN,NaN
XKX,2020-06-01,Kosovo,1064,30,550.50,15.52,"1,932,774.00",NaN,NaN,NaN,NaN
MSR,2020-06-01,Montserrat,11,1,"2,200.44",200.04,"4,999.00",NaN,NaN,NaN,NaN
VAT,2020-06-01,Vatican,12,0,"14,833.13",0.00,809.00,NaN,NaN,NaN,NaN

In [ ]:
covidtotals_missing.loc[missCounts_Y>3, demovars]

           population  pop_density  median_age  gdp_per_capita  hosp_beds
iso_code
AIA         15,002.00          NaN         NaN             NaN        NaN
BES         26,221.00          NaN         NaN             NaN        NaN
FLK          3,483.00          NaN         NaN             NaN        NaN
GGY         67,052.00          NaN         NaN             NaN        NaN
JEY        101,073.00          NaN         NaN             NaN        NaN
XKX      1,932,774.00          NaN         NaN             NaN        NaN
MSR          4,999.00          NaN         NaN             NaN        NaN
VAT            809.00          NaN         NaN             NaN        NaN

In [ ]:
missCounts_X.value_counts()

0     1
12    1
24    1
28    1
46    1
dtype: int64

In [ ]:
covidtotals_missing[totvars].isnull().sum(axis=0)

location           0
total_cases        0
total_deaths       0
total_cases_pm     1
total_deaths_pm    1
dtype: int64

In [ ]:
totvarsMissCounts = covidtotals_missing[totvars].isnull().sum(axis=1)
totvarsMissCounts

iso_code
AFG    0
ALB    0
DZA    0
AND    0
AGO    0
      ..
VNM    0
ESH    0
YEM    0
ZMB    0
ZWE    0
Length: 210, dtype: int64

In [ ]:
totvarsMissCounts.value_counts()

0    210
dtype: int64

In [ ]:
covidtotals_missing.loc[totvarsMissCounts>0]

Empty DataFrame
Columns: [lastdate, location, total_cases, total_deaths, total_cases_pm, total_deaths_pm, population, pop_density, median_age, gdp_per_capita, hosp_beds]
Index: []

In [ ]:
# If I decide to replace NaN values with calculated value
covidtotals_missing.total_cases_pm.fillna(covidtotals_missing.total_cases / (covidtotals_missing.population/1000000), 
                                          inplace=True)

covidtotals_missing.total_deaths_pm.fillna(covidtotals_missing.total_deaths / (covidtotals_missing.population/1000000), 
                                          inplace=True)

In [ ]:
covidtotals_missing[totvars].isnull().sum()

location           0
total_cases        0
total_deaths       0
total_cases_pm     0
total_deaths_pm    0
dtype: int64

In [ ]:
covidtotals_missing.loc['HKG']

lastdate            2020-05-26
location             Hong Kong
total_cases                  0
total_deaths                 0
total_cases_pm            0.00
total_deaths_pm           0.00
population        7,496,988.00
pop_density           7,039.71
median_age               44.80
gdp_per_capita       56,054.92
hosp_beds                  NaN
Name: HKG, dtype: object